.table-cells-type-action,
.table-cells-type-action * {
  box-sizing: border-box;
}
.table-cells-type-action {
  background: #ffffff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 68px;
  position: relative;
  box-shadow: var(
    --cell-table-separator-box-shadow,
    inset 0px -1px 0px 0px rgba(223, 226, 233, 1)
  );
  overflow: hidden;
}
.table-cells-type-action .icons-8-more {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
