.table-top-type-search,
.table-top-type-search * {
  box-sizing: border-box;
}
.table-top-type-search {
  background: var(--white, #ffffff);
  padding: 6px 12px 6px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70px;
  position: relative;
  box-shadow: var(
    --dafault-table-separator-box-shadow,
    inset 0px -1px 0px 0px rgba(201, 207, 218, 1)
  );
  overflow: hidden;
}
.table-top-type-search .search {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.table-top-type-search .table-title {
  color: var(--black, #00072b);
  text-align: left;
  font-family: var(
    --subtitle-2-semibold-font-family,
    "OpenSans-SemiBold",
    sans-serif
  );
  font-size: var(--subtitle-2-semibold-font-size, 14px);
  line-height: var(--subtitle-2-semibold-line-height, 24px);
  font-weight: var(--subtitle-2-semibold-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-top-type-search .title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.table-top-type-search .search2 {
  color: var(--gray-4, #c9cfda);
  text-align: left;
  font-family: var(--body-2-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 14px);
  line-height: var(--body-2-line-height, 20px);
  letter-spacing: var(--body-2-letter-spacing, 0.25px);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
  width: 46px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
