.home-page,
.home-page * {
    box-sizing: border-box;
}
.home-page {
    background: #ffffff;
    padding: 2px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    height: 2238px;
    position: relative;
}
.home-page .section {
    background: rgba(0, 0, 0, 0.6);
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .avatar {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 50px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.home-page .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.home-page .title2 {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}
.home-page .selection {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .label-normal {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0.5px;
    padding: 2px 4px 2px 4px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .label-text {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
}
.home-page .description {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.home-page .button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 164px;
    height: 48px;
    position: relative;
    overflow: hidden;
}
.home-page .vector-200 {
    flex-shrink: 0;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.home-page .list {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .container2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .title3 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    width: 520px;
}
.home-page .description2 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    width: 520px;
}
.home-page .seconday {
    border-radius: 8px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.home-page .title4 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
}
.home-page .list2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .item {
    padding: 12px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}
.home-page .frame {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;
    aspect-ratio: 1;
}
.home-page .icon {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 62.5px;
    line-height: 100px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    top: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.home-page .frame-427318906 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .title5 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.home-page .subtitle {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.home-page .vector-2002 {
    flex-shrink: 0;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.home-page .form {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .container3 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.home-page .title6 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}
.home-page .description3 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.home-page .list3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
}
.home-page .row2 {
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 520px;
    position: relative;
    overflow: hidden;
}
.home-page .title7 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
}
.home-page .textfield2 {
    background: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .text2 {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    flex: 1;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.home-page .title8 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}
.home-page .selection2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 520px;
    position: relative;
    overflow: hidden;
}
.home-page .chip-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .chip {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.home-page .text3 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}
.home-page .button2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .primary {
    background: #000000;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 240px;
    position: relative;
}
.home-page .title9 {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
}
.home-page .vector-2003 {
    flex-shrink: 0;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.home-page .reviews {
    padding: 60px 170px 60px 170px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.home-page .list4 {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}
.home-page .card {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 240px;
    position: relative;
    overflow: hidden;
}
.home-page .user {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.home-page .avatar2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.home-page .avatar3 {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
}
.home-page .frame-4273189062 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.home-page .title10 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.home-page .frame-427318817 {
    flex-shrink: 0;
    width: 58.26px;
    height: 9.81px;
    position: relative;
    overflow: visible;
}
.home-page .title11 {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    height: 72px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.home-page .frame-4273188172 {
    flex-shrink: 0;
    width: 58.26px;
    height: 9.81px;
    position: relative;
    overflow: visible;
}
.home-page .frame-4273188173 {
    flex-shrink: 0;
    width: 58.26px;
    height: 9.81px;
    position: relative;
    overflow: visible;
}
.home-page .vector-2004 {
    flex-shrink: 0;
    height: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: visible;
}
.home-page .section2 {
    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 212px;
    position: relative;
    overflow: hidden;
}
.home-page .container4 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 100px;
    position: relative;
}
.home-page .title12 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    width: 501px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page .title13 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 331px;
    display: flex;
    align-items: center;
    justify-content: center;
}

