.table-top-type-icon,
.table-top-type-icon * {
  box-sizing: border-box;
}
.table-top-type-icon {
  background: var(--white, #ffffff);
  padding: 20px 12px 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 48px;
  position: relative;
  box-shadow: var(
    --dafault-table-separator-box-shadow,
    inset 0px -1px 0px 0px rgba(201, 207, 218, 1)
  );
}
.table-top-type-icon .icon-24-px {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
