.table-cells-curre,
.table-cells-curre * {
  box-sizing: border-box;
}
.table-cells-curre {
  background: #ffffff;
  width: 154px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.table-cells-curre .back {
  position: absolute;
  inset: 0;
}
.table-cells-curre .background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.table-cells-curre .separator {
  background: var(--gray-5, #dfe2e9);
  height: 1px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.table-cells-curre ._123-000 {
  color: var(--black, #00072b);
  text-align: right;
  font-family: var(--body-2-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 14px);
  line-height: var(--body-2-line-height, 20px);
  letter-spacing: var(--body-2-letter-spacing, 0.25px);
  font-weight: var(--body-2-font-weight, 400);
  position: absolute;
  right: 12px;
  left: 12px;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
