.tag,
.tag * {
  box-sizing: border-box;
}
.tag {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #dfe2e9;
  border-width: 1px;
  padding: 2px 12px 2px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.tag .se-454547 {
  color: var(--black, #454d59);
  text-align: center;
  font-family: var(--body-2-font-family, "OpenSans-Regular", sans-serif);
  font-size: var(--body-2-font-size, 14px);
  line-height: var(--body-2-line-height, 20px);
  letter-spacing: var(--body-2-letter-spacing, 0.25px);
  font-weight: var(--body-2-font-weight, 400);
  position: relative;
}
